@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap");

@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

@custom-variant dark (&:where(.dark,.dark *));

html,
body,
#root {
  height: 100vh;
}

button {
  cursor: pointer;
}

.btn {
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

main {
  height: calc(100vh - 70px);
}

.hide {
  display: none;
}
